body{
    background-color: #fcfdfe;
}

.acomodar{
    display: flex;
}

.titulo{
    text-align: center;
    font-family: Portafolio;
    font-size: 30px;
    font-weight: 600;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    background-color: #011a27;
    color: #dda90d;
}

.subtitulo{
    text-align: center;
    font-family: Portafolio;
    font-size: 25px;
    font-weight: 400;
    padding: 30px;
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    background-color: #f0efea;
}

.principal{
    display: flex;
}

.subtitulo_1{
    color: #dda90d;
    text-align: center;
}

.perfil_disc{
    color: #dda90d;
    text-align: center;
    text-decoration: none;
}

.perfil_DISC{
    background-color: #011a27;
    width: 450px;
    height: 450px;
    margin-left: 150px;
    border-radius: 10px;
}

.imagen_disc{
    width: 350px;
    margin: 50px;
    margin-bottom: 5px;
}

.texto_perfil_disc{
    color: #f0efea;
    text-shadow: 2px 3px 10px #f0efea;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.subtitulo_2{
    color: #dda90d;
    text-align: center;
}

.taller_de_entrevista_laboral{
    background-color: #011a27;
    width: 450px;
    height: 450px;
    margin-left: 300px;
    border-radius: 10px;
}

.enlace_trabajo{
    color: #dda90d;
    text-align: center;
    text-decoration: none;
}

.imagen_entrevista{
    width: 350px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto_taller_de_entrevista_laboral{
    color: #f0efea;
    text-shadow: 2px 3px 10px #f0efea;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}

.btn{
    color: #222;
    text-align: center;
    text-decoration: none;
}